[Desktop Entry]
Name=Transmission-cli
Comment=Terminal torrent
Exec=transmission-remote-cli %u
Terminal=true
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Internet;
