[Unit]
Description=User resume actions
Before=sleep.target

[Service]
Type=forking
User=alex
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash /home/alex/scripts/i3lockwrapper.sh
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
